<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title> Contact</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="/css/myProject.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 

        <!-- <link rel="stylesheet" href="./task 1/css/myProject.css"> -->
    </head>

    <body>
        <!-- NAVBAR -->
        <!-- <nav >
            <div class="nav-left">
                <ul>
                    <img src="./task 1/images/logo.png">

                    <li>
                        <a class="hidden-items" href="./index.html"> Home</a>
                    </li>
                    <li>
                        <a class="hidden-items" href="./myProject.html">My Project</a>
                    </li>
                    <li>
                        <a class="hidden-items" href="./testimonials.html">Testimonial</a>
                    </li>
                </ul>
            </div>

            <div class="nav-right">
                <a class="hidden-items" href="./contact_me.html">Contact me</a>
            </div>
            <div class="nav-right" id="barsmenu">
                <button class="hamburger-button" onclick="openhamburger()">
                    <a class="fa-solid fa-bars"></a>

                </button>
            </div>
            
           
           
           
        </nav> -->
        <!-- END OF NAVBAR -->

        <!-- navbar bootstrap -->
        <nav class="navbar navbar-expand-lg bg-secondary">
            <div class="container">
              <a class="navbar-brand me-4" href="/">
              <img src="/images/logo.png" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item me-2">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item me-2">
                    <a class="nav-link " href="/myProject">My Project</a>
                  </li>
                  <li class="nav-item me-2">
                    <a class="nav-link" href="/testimonials">testimonials</a>
                  </li>
                </ul>

                <div class="d-flex">
                    <a href="/contact_me_bootstrap" class="btn btn-danger">Contact Me</a>
                </div>
                
              </div>
            </div>
          </nav>
        <!-- navbar bootstrap end -->


        <!-- <div class="hamburger-nav-container" id="hamburger-nav-container" >
            <a href="./index.html"> Home</a>
            <a href="./myProject.html">My Project</a>
            <a href="./contact_me.html" class="active-container">Contact me</a>
        </div> -->
        
            <!-- THIS IS BLOG -->
        <!-- FORM -->
        <!-- <div class="blog">
            <div class="blog_form">
                <div class="blog_form_container">
                    <form onsubmit="submitData(event)">
                        <h1 style="text-align: center;">ADD MY PROJECT</h1>
                        <div>
                            <label for ="projectname">Project Name</label>
                            <input type= text id="projectname"/>
                        </div>
    
                        <div class="date_group" id="date_group">
                            <div>
                            <label for="startdate">Start Date</label>
                            <input type="date" id="startdate"/>
                            </div>
        
                            <div>
                                <label for="enddate">End Date</label>
                                <input type="date" id="enddate"/>
                            </div>
        
        
                        </div>
                        <div>
    
                            <label for="description">Description</label>
                            <textarea id="description"></textarea>
                        </div>
    
                        <div>
                            <label>Technologies</label>
                            <div class="checkbox_group" >

                                <label for="nodejs"> Node Js</label>
                                <input type="checkbox" name="thisistech" id="firstoption" value="nodejs">

                                <label for="reactjs"> React Js</label>
                                <input type="checkbox" name="thisistech" id="secondoption" value="reactjs">

                                <label for="nextjs"> Next Js</label>
                                <input type="checkbox" name="thisistech"id="thirdoption" value="nextjs">

                                <label for="typescript"> Type Script</label>
                                <input type="checkbox" name="thisistech"id="forthoption" value="typescript">

                            </div>
                        
                        </div>
    
                        <div>
                            <label>Upload Image</label>
                                  <div class="input-blog-image-group">
                                    <label for="input-blog-image">
                                      <p>Attach File</p>
                                      <img src="assets/images/file.png" alt="file" />
                                    </label>
                                    <input type="file" id="input-blog-image" hidden />
                                 </div> -->
                                 
                                 <!-- <div class="input_blog_image_group">
                                 <label for="inputblogimage"> -->
                                    <!-- <p>attach here</p> -->
                                    <!-- <img src="./task 1/images/file.png">
                                </label>
                                 <input type="file" id="uploadblogimage" accept="image/*">
                            </div>
                        </div>
                        <div class="submitbutton">
                            <button>Submit</button>  
                        </div>
                    </form>

                </div>
                </div>
            </div>  -->
           
<div class="container d-flex justify-content-center my-4">

    <form 
    class="w-75 p-3" 
    method="post"
    action="/update-blog/{{id}}"
    enctype="multipart/form-data"
    >
        <h1 class="text-center"> EDIT MY PROJECT</h1>
        <div class="mb-3">
            <label for="projectname" class="form-label">Project Name</label>
            <input type="text" class="form-control" name="projectname" value="{{dataUpdate.projectname}}" id="projectname" placeholder="put your project name here">
        </div>

        
        <div class="d-flex row">
            <div class="col-sm-6">
                <label for="startDate">Start date</label>
                <input id="startdate" name="startdate"  class="form-control" type="date" value="{{dataUpdate.startdate}}"/>
                
            </div>
            <div class="col-sm-6">
                <label for="endDate">End date</label>
                <input id="enddate" name="enddate"  class="form-control" type="date" value="{{dataUpdate.enddate}}"/>
                
            </div>
        </div>

        <div class="mt-3 ">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="description" style="resize: none; height: 200px;">{{dataUpdate.description}}</textarea>
          </div>

            <div class="my-3" name="technology">
                <label for="technologies" name="technology" class="form-label">Technologies</label>
                    <div class="d-flex colomn">
                        <div class="form-check">
                            <input class="form-check-input" name="nodejs" type="checkbox" value="nodejs" id="nodejs" default>
                            <label class="form-check-label" for="nodejs">nodejs</label>
                            </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" name="reactjs" type="checkbox" value="reactjs" id="reactjs" default>
                            <label class="form-check-label" for="reactjs">reactjs</label>
                            </div>
                    </div>
                    <div class="d-flex colomn">
                        <div class="form-check">
                            <input class="form-check-input" name="nextjs" type="checkbox" value="nextjs" id="nextjs" default>
                            <label class="form-check-label" for="nextjs">nextjs</label>
                        </div>
                        
                        <div class="form-check ms-4">
                            <input class="form-check-input" name="typescript" type="checkbox" value="typescript" id="typescript" default>
                            <label class="form-check-label" for="typescript">typescript</label>
                        </div>
                    </div>
            </div>

            <div class="mt-3">
                <label for="image" class="form-label">Image</label>
                <input type="file" name="picture" class="form-control" id="picture" value="{{dataUpdate.picture}}">
              </div>

              <div class="mt-3 d-flex justify-content-end">
                <button type="submit" class="btn btn-danger">Submit</button>
              </div>

            
        </form>
</div>



            
<!-- BLOG LIST -->

<hr class="line" />

    <!-- dynamic content would be here -->

       
    </body>
    <script src="/javascript/blog.js"> </script>
    <script src="/javascript/indexbutton.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</html>